@use 'src/styles/mixins.scss';

.Home {
  @include mixins.container;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

/* Scroll Bar */
/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  margin-top: 5px;
  margin-bottom: 5px;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #cccccc;
  border-radius: 10px;
}
