@use "src/styles/mixins.scss";

.User {
  @include mixins.container;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: flex-start;

  .back-button {
    color: #fff;
    font-size: 2em;
    position: absolute;
    left: 30px;
    top: 15px;
    cursor: pointer;
    padding: 2px 10px;
    &:hover {
      .arrow-right-icon {
        color: #cacaca;
      }
    }
  }
}
