.search-wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  h1,
  span {
    color: #fff;
  }
  .subTitle {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    font-size: 1.1em;
  }
  .text-icon {
    display: inline-flex;
    cursor: default;
    margin-inline: -3px;
    box-shadow: none;
  }
  .keyboard-text {
    display: inline-flex;
    padding: 2px 4px;
    margin-inline: 5px;
    background-color: transparent;
    border-radius: 3px;
    border: 1px solid #b4b4b4;
    color: #fff;
    font-size: 1em;
    font-weight: 700;
    white-space: nowrap;
  }
}
